{% extends "base.html" %} 

{% block script %}
<script>
  var moisData = {{ data.moisData }}
  var tempData = {{ data.tempData }}
  var lightData = {{ data.lightData }}
  var timeStamp = {{ data.timeStamp }}
  var moisAlert = {{ data.moisAlert}}
  var tempAlert = {{ data.tempAlert }}
  var lightAlert = {{ data.lightAlert }}
</script>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{{ url_for('static', filename='js/historical.js') }}"></script>
{% endblock %} 

{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-md-8 col-sm-8 sys">
            <h5>Moisture data</h5>
            <div id="moisData"></div>
            <h5 class="pt-3">Temp data</h5>
            <div id="tempData"></div>
            <h5 class="pt-3">Light data (Lux)</h5>
            <div id="lightData"></div>
        </div>
        <div class="col-md-4 col-sm-4 sys">
            <div>
              <div class="table-wrapper pt-3">
                <h5>Status history</h5>
                <table class="table table-warning">
                    <thead>
                      <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Moisture(%)</th>
                        <th scope="col">Temperature(°C)</th>
                        <th scope="col">Light(lux)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td id="TimeStamp0">2022 Sep 2 18:20:10</td>
                        <td id="moisAlert0">Moisture lower than 20%</td>
                        <td id="tempAlert0">Moisture lower than 20%</td>
                        <td id="lightAlert0">Moisture lower than 20%</td>
                      </tr>
                      <tr>
                        <td id="TimeStamp1">2022 Sep 2 18:20:10</td>
                        <td id="moisAlert1">Temperature is over 35 °C</td>
                        <td id="tempAlert1">Moisture lower than 20%</td>
                        <td id="lightAlert1">Moisture lower than 20%</td>
                      </tr>
                      <tr>
                        <td id="TimeStamp2">2022 Sep 2 18:20:10</td>
                        <td id="moisAlert2">Light is lower than 5</td>
                        <td id="tempAlert2">Moisture lower than 20%</td>
                        <td id="lightAlert2">Moisture lower than 20%</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}



  
