{% extends "base.html" %} 

{% block script %}
<script>
  var moisData = {{ data.moisData }}
  var tempData = {{ data.tempData }}
  var lightData = {{ data.lightData }}
</script>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="{{ url_for('static', filename='js/historical.js') }}"></script>
{% endblock %} 

{% block content %}
<div class="container pt-3">
    <div class="row">
        <div class="col-md-8 col-sm-8 sys">
            <h5>Moisture data</h5>
            <div id="moisData"></div>
            <h5 class="pt-3">Temp data</h5>
            <div id="tempData"></div>
            <h5 class="pt-3">Light data</h5>
            <div id="lightData"></div>
        </div>
        <div class="col-md-4 col-sm-4 sys">
            <div>
              <div class="pt-3">
                <h5>Alert history</h5>
                <table class="table table-warning">
                    <thead>
                      <tr>
                        <th scope="col">Time</th>
                        <th scope="col">Alarm message</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>2022 Sep 2 18:20:10</td>
                        <td>Moisture lower than 20%</td>
                      </tr>
                      <tr>
                        <td>2022 Sep 2 18:20:10</td>
                        <td>Temperature is over 35 °C</td>
                      </tr>
                      <tr>
                        <td>2022 Sep 2 18:20:10</td>
                        <td>Light is lower than 5</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}



  