{% extends "base.html" %} 
{% block script %}
<script>
    var moisture = {{ data.moisture }}
    var temperature = {{ data.temperature }}
    var sensLight = {{ data.light }}
    var lastUpdated = {{ data.updateTime }}
    
</script>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Alarm Text -->
    <div class="alarm" id="alarm" style="display:none;"></div>
    <div class="alarm" id="waterAlarm" style="display:none;"></div>
    <!-- Update Time-->
    <div class="col-md-12 col-sm-6 sys">Data last updated at <span id="updateTime">(None)</span></div>
    <!-- Alert-->
    <div id="wateringAlertPlaceholder"></div>
    <!--Darshboard-->
    <!-- Soil moisture -->
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-2 col-sm-4 sys">
                <div id="mois"> Soil moisture </div>
                <div class="pt-2"></div>
                <div class="progress moisbar pt-3">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value" >
                        <span id="mois-value"></span>
                    </div>
                </div>
            </div>
            <!-- Temperature -->
            <div class="col-md-2 col-sm-4 sys">
                <div id="temp"> Temperature </div>
                <div class="pt-2"></div>
                <div class="progress tempbar pt-3">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                        <sapn id="temp-value"></sapn>
                    </div>
                </div>
            </div>
            <!-- Light -->
            <div class="col-md-2 col-sm-4 sys">
                <div id="light"> Light </div>
                <div class="pt-2"></div>
                <div class="progress lightbar pt-3">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">
                        <sapn id="light-value"></sapn><span></span>
                    </div>
                </div>
            </div>
            <!-- Water Level -->
            <div class="col-md-2 col-sm-4 sys">
                <div id="light"> Water level </div>
                <div class="pt-2"></div>
                <img src="../static/images/waterlevel/full.png" width="160px" alt="waterlevel" id="waterLevel"/>
            </div>
            <!--Emoji-->
            <div class="col-md-4 col-sm-4 sys">
                <div id="light"> Status </div>
                <div class="pt-2"></div>
                <img src="../static/images/emoji/cold.gif" width="150px" alt="emoji" id="emoji"/>
            </div>
        </div>
    </div>
    <!--Control board-->
    <div class="container pt-5">
        <div class="row">
            <!--Watering btn-->
            <div class="col-md-4 col-sm-6 sys pt-5">
                <button type="button" class="btn btn-primary" id="watering-btn">Water your plant now</button>
            </div>
            <!--Photo btn-->
            <div class="col-md-4 col-sm-6 sys pt-5">
                <button type="button" class="btn btn-success" id="photo-btn">Take a photo</button>
            </div>
            <!--photo display-->
            <div class="col-md-4 col-sm-6 sys pt-5">
                <img src="" width="200px" alt="plant-photo" id="photo"/>
            </div>
        </div>
    </div>
{% endblock %}