{% extends "base.html" %} 
{% block script %}
<script>
    var moisture = {{ data.moisture }}
    var temperature = {{ data.temperature }}
    var sensLight = {{ data.light }}
    var lastUpdated = {{ data.updateTime }}
    var waterLevelvalue = {{data.waterLevel}}
    var moisMin = {{ data.moisMin }}
    var moisMax = {{ data.moisMax }}
    var tempMax = {{ data.tempMax }}
    var tempMin = {{ data.tempMin }}
    var lightMin = {{ data.lightMin }}
    var lightMax = {{ data.lightMax }}
    var wateringTime = {{ data.wateringTime }}
    var pictureFrequency = {{ data.pictureFrequency }}
</script>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Alarm Text -->
    <div class="alarm" id="alarm" style="display:none;"></div>
    <div class="alarm" id="waterAlarm" style="display:none;"></div>
    
    <!-- Update Time-->
    <div class="col-md-12 col-sm-6 sys" id="update-header">Data last updated at <span id="updateTime">(None)</span></div>
    
    <!-- Alert-->
    <div id="wateringAlertPlaceholder"></div>
    
    <!--Dashboard-->
    <div class="container dashboard-metrics">
        <div class="container pt-3">
            <div class="row">
                <!-- Moisture sensor -->
                <div class="col-md-4 col-sm-4 sys metric-box">
                    <div class="pt-2 metric-heading" id="mois">Soil moisture </div>
                    <div class="pt-2"></div>
                    <div class="progress moisbar">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        
                        <div class="progress-value" >
                            <span class="bi-moisture"></span>
                            <br/>
                            <span id="mois-value"></span>
                        </div>
                    </div>
                </div>
                <!-- Temperature -->
                <div class="col-md-4 col-sm-4 sys metric-box">
                    <div class="pt-2 metric-heading" id="temp">Temperature </div>
                    <div class="pt-2"></div>
                    <div class="progress tempbar">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                            <span class="bi-thermometer-half"></span>
                            <br/>
                            <span id="temp-value"></span>
                        </div>
                    </div>
                </div>
                <!-- Light -->
                <div class="col-md-4 col-sm-4 sys metric-box">
                    <div class="pt-2 metric-heading" id="light">Light</div>
                    <div class="pt-2"></div>
                    <div class="progress lightbar">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                            <span class="bi-brightness-high-fill"></span>
                            <br/>
                            <span id="light-value"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Water Level -->
                <div class="col-md-6 col-sm-6 sys metric-box">
                    <div class="pt-2 metric-heading" id="light">Water level</div>
                    <div class="pt-2"></div>
                    <img src="../static/images/waterlevel/full.png" width="160px" alt="waterlevel" id="waterLevel"/>
                </div>
                <!--Emoji-->
                <div class="col-md-6 col-sm-6 sys metric-box">
                    <div class="pt-2 metric-heading" id="light">Status</div>
                    <div class="pt-2"></div>
                    <img src="../static/images/emoji/cold.gif" width="150px" alt="emoji" id="emoji"/>
                </div>
            </div>
        </div>
        <!--Control board-->
        <div class="container pt-3 button-controls">
            <div class="row">
                <!--Watering btn-->
                <div class="col-md-6 col-sm-6 sys pt-5">
                    <button type="button" class="btn btn-primary" id="watering-btn"><span class="bi-droplet-fill"></span>&nbsp;Water your plant now</button>
                </div>
                <!--Photo btn-->
                <div class="col-md-6 col-sm-6 sys pt-5">
                    <button type="button" class="btn btn-success" id="photo-btn"><span class="bi-camera-fill"></span>&nbsp;Take a photo</button>
                </div>
            </div>
            <div class="row photo-row">
                <!--photo display-->
                <div class="col-md-12 col-sm-12 sys pt-5">
                    <img src="" width="200px" alt="plant-photo" id="photo"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}